repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
    - id: stylua-system # or stylua-system / stylua-github
      files: \.lua$
- repo: https://github.com/doublify/pre-commit-rust
  rev: master
  hooks:
  - id: fmt
    files: \.rs$
